@media (min-width: 415px) {
    body {
            margin: 0; 
            background-color: rgb(20, 20, 20);  
            overflow-x: hidden;
		}
        .container {
           width: 100vw;
            height: 100vh;
            

            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-template-rows: 50px 185px 185px 185px 185px 185px 160px 25px;
            gap: 10px;
            grid-row-gap: 20px;
		}
        .container div {
            padding: 10px;
		}
        .header {
            grid-column-start: 1;
            grid-column-end: 5;

            background-color: salmon;
            font-weight: bold;
            color: white; 
            font-size: 20px;
            font-family: Monospace;
            text-align: center;
		}
        .content1 {
            grid-row-start: 2;
            grid-row-end: span 2;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-left: 65px;
            border-bottom: 5px solid white;
		}
        .content2 {
            grid-row-start: 4;
            grid-row-end: span 2;
            grid-column-start: 3;
            grid-column-end: 5;
            margin-right: 65px;
            margin-left: 30px;
            border-bottom: 5px solid white;
		}
        .content3 {
            grid-row-start: 6;
            grid-row-end: span 2;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-left: 65px;
            border-bottom: 5px solid white;

		}
        .footer {
            grid-row-start: 8;
            grid-row-end: span 1;
            grid-column-start:  1;
            grid-column-end: 5;

            background-color: rgb(20, 20, 20, 0);
            color: white; 
            font-size: 12px;
            font-family: monospace;
            text-align: right;  
		}
        h1 {
            color: white;
            font-family: monospace;  
            text-align: center
		}
        h2 {
            color: white;
            position: absolute;
            left: 610.5px;
            top: -2px;
            font-size: 20px;
            font-family: monospace; 
        }
        p {
           color: white;
           font-family: monospace;  
           font-size: 15px;
		}
        #icons ul{
            list-style: none;
            position: absolute;
            top: 15px;
            right: 50px;
            margin: 0;
		}
        #icons ul li{
            float: left; 
            width: 50px;
            color: white;
		}
        .home {
            width: 50px;
            position: absolute;
            top: 15px;
            left: 20px;
            color: white;
		}
        .dropdown {
              list-style: none;
              width: 50px;
              position: absolute;
              top: 15px;
              right: 0px;
              color: white;
              z-index: 1;
		}
        .dropdown ul {
            position: absolute;
            right: 0px;
            padding: 0px;
            background-color: salmon;
        }
        .dropdown ul li{
            list-style: none; 
            color: white;
            font-family: monospace;
            width: 100px;
            border: 1px solid white;
            padding: 10px;
            display: none;
            text-align: center;	
            background-color: rgb(0, 0, 0, 0);
		}
        .dropdown i:hover ul li {
            display: block;  
		}
        a:link, a:visited {
            color: white; 
            text-decoration: none;
		}
        .dropdown ul li:hover {
            color: blue;  
		}
        .dropdown ul:hover {
            color: blue;  
		}
        #drop-button:hover {
            color:blue;  
		}
        a:hover {
            color: blue;  
		}
        #image2 {
            width: 520px;
            position: absolute;
            top: 70px;
            right: 70px;
            z-index: 0;
		}
        #image3 {
            width: 480px;
            position: absolute;
            top: 515px;
            left: 110px;
            z-index: 0; 
		}
        #image4 {
            width: 475px;
            position: absolute;
            right: 80px;
            top: 900px;
        }
}        

       
        







@media (max-width: 414px) {
    body {
        margin: 0; 
        background-color: rgb(20, 20, 20);  
    }
    .container {
        width: 100vw;
        height: 100vh;
            

        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 185px 185px 185px 185px 185px 160px 25px;
        gap: 10px;
        grid-row-gap: 20px;
    }
    .header {
        grid-column-start: 1;
        grid-column-end: 5;

        background-color: salmon;
        font-weight: bold;
        color: white; 
        font-size: 20px;
        font-family: Monospace;
        text-align: center;
    }
    .content1 {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: 5px solid white;
    }
    .content2 {
        grid-row-start: 4;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-right: 40px;
        margin-left: 40px;
        border-bottom: 5px solid white;
    }
    .content3 {
        grid-row-start: 6;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: 5px solid white;

    }
    .footer {
        grid-row-start: 8;
        grid-row-end: span 1;
        grid-column-start:  1;
        grid-column-end: 5;

        background-color: rgb(20, 20, 20, 0);
        color: white; 
        font-size: 12px;
        font-family: monospace;
        text-align: right;  
    }
    h1 {
        color: white;
        font-family: monospace;  
        text-align: center
    }
    h2 {
        float: center;
        position: absolute;
        right: 150px;
        top: 0px;
        color: white;
        font-size: 40px;
        font-family: monospace; 
    }
    p {
       color: white;
       font-family: monospace;  
       font-size: 10px;
    }
    #icons ul{
        list-style: none;
        position: absolute;
        top: 15px;
        right: 50px;
        margin: 0;
    }
    #icons ul li{
        float: left; 
        width: 50px;
        color: white;
    }
    .home {
        width: 50px;
        position: absolute;
        top: 15px;
        left: 20px;
        color: white;
    }
    .dropdown {
          list-style: none;
          width: 50px;
          position: absolute;
          top: 15px;
          right: 0px;
          color: white;
          z-index: 1;
    }
    .dropdown ul {
        position: absolute;
        right: 0px;
        padding: 0px;
        background-color: salmon;
    }
    .dropdown ul li{
        list-style: none; 
        color: white;
        font-family: monospace;
        width: 100px;
        border: 1px solid white;
        padding: 10px;
        display: none;
        text-align: center;	
        background-color: rgb(0, 0, 0, 0);
    }
    .dropdown i:hover ul li {
        display: block;  
    }
    a:link, a:visited {
        color: white; 
        text-decoration: none;
    }
    .dropdown ul li:hover {
        color: blue;  
    }
    .dropdown ul:hover {
        color: blue;  
    }
    #drop-button:hover {
        color:blue;  
    }
    a:hover {
        color: blue;  
    }
    #image2 {
        width: 250px;
        position: absolute;
        top: 300px;
        right: 80px;
        z-index: 0;
    }
    #image3 {
        width: 200px;
        position: absolute;
        top: 750px;
        left: 110px;
        z-index: 0; 
    }
    #image4 {
        width: 180px;
        position: absolute;
        right: 120px;
        top: 1150px;
        
    }
}

