body {
            margin: 0; 
            background-color: rgb(20, 20, 20);  
            overflow-x: hidden;
		}
        .container {
           width: 100vw;
            height: 100vh;
            

            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-template-rows: 50px 185px 185px 185px 185px 185px 185px 185px 185px 185px 160px 25px;
            gap: 10px;
            grid-row-gap: 20px;
		}
        .container div {
            padding: 10px;
		}
        .header {
            grid-column-start: 1;
            grid-column-end: 5;

            background-color: salmon;
            font-weight: bold;
            color: white; 
            font-size: 20px;
            font-family: Monospace;
            text-align: center;
		}
        .content1 {
            grid-row-start: 2;
            grid-row-end: span 2;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-left: 65px;
            border-bottom: 5px solid white;
		}
        .content2 {
            grid-row-start: 8;
            grid-row-end: span 2;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-left: 65px;
            border-bottom: 5px solid white;
		}
        .content3 {
            grid-row-start: 6;
            grid-row-end: span 2;
            grid-column-start: 3;
            grid-column-end: 5;
            margin-right: 65px;
            border-bottom: 5px solid white;
		}
        .content4 {
            grid-row-start: 10;
            grid-row-end: span 2;
            grid-column-start: 3;
            grid-column-end: 5;
            margin-right: 65px;
            border-bottom: 4.9px solid white;  
		}
        .footer {
            grid-row-start: 8;
            grid-row-end: span 1;
            grid-column-start:  1;
            grid-column-end: 5;

            background-color: rgb(20, 20, 20, 0);
            color: white; 
            font-size: 12px;
            font-family: monospace;
            text-align: right;  
		}
        h1 {
            color: white;
            font-family: monospace;  
            text-align: center
		}
        h2 {
            float: left;
            color: white;
            font-family: monospace; 
            visibility:hidden;
        }
        p {
           color: white;
           font-family: monospace;  
           font-size: 15px;
           text-align: center;
		}
        #icons ul{
            list-style: none;
            position: absolute;
            top: 15px;
            right: 50px;
            margin: 0;
		}
        #icons ul li{
            float: left; 
            width: 50px;
            color: white;
		}
        .home {
            width: 50px;
            position: absolute;
            top: 15px;
            left: 20px;
            color: white;
		}
        .dropdown {
              list-style: none;
              width: 50px;
              position: absolute;
              top: 15px;
              right: 0px;
              color: white;
              z-index: 1;
		}
        .dropdown ul {
            position: absolute;
            right: 0px;
            padding: 0px;
            background-color: salmon;
        }
        .dropdown ul li{
            list-style: none; 
            color: white;
            font-family: monospace;
            width: 100px;
            border: 1px solid white;
            padding: 10px;
            display: none;
            text-align: center;	
            background-color: rgb(0, 0, 0, 0);
		}
        .dropdown i:hover ul li {
            display: block;  
		}
        a:link, a:visited {
            color: white;  
		}
        .dropdown ul li:hover {
            color: blue;  
		}
        .dropdown ul:hover {
            color: blue;  
		}
        #drop-button:hover {
            color:blue;  
		}
        a:hover {
            color: blue;  
		}
        #image1 {
            width: 300px;  
		}
        #image2 {
            width: 520px;
            position: absolute;
            top: 70px;
            right: 70px;
            z-index: 0;
            border: 1px solid white; 
		}
        #image3 {
            width: 370px;
            position: absolute;
            top: 1750px;
            left: 150px;
		}
        #image4 {
            width: 380px;
            position: absolute;
            top: 520px;
            left: 150px;
            border: 1px solid white;
		}
        #image5 {
            width: 550px;
            position: absolute;
            top: 1350px;
            right: 60px;
            border: 1px solid white;
		}
        #image6 {
            width: ;  
		}